.container {
    display: flex;
    /* position: absolute; */
    border: 2px solid blue;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50vh;
    justify-items: space-between;

    /* padding: 20px; */
}

.container1 {
    justify-content: center;
    border: 2px solid red;
}

.container2 {
    justify-content: center;
    border: 2px solid green;
}

.head {
    color: green;
    letter-spacing: 3px;
    /* position: relative; */
    /* top: 20%;
    left: 50%; */
}

.second {
    color: red;
    letter-spacing: 3px;
}