.navbar {
    position: relative;
    z-index: 2;
    display: flex;
    padding: 2rem;
    justify-content: flex-end;
    border: 1px solid white;
    padding-right: 15rem;
    text-transform: uppercase;
    letter-spacing: 2px;

}


/* .navbar .logo {
    font-size: 1.5rem;
} */


.navitems {
    display: flex;
    gap: 2rem;
    list-style: none;
}


.navlink {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
}


.span {
    font-weight: bold;
    margin-right: 0.5rem;
}