.body {
    /* background-image: url("background-destination.jpg"); */
    /* background-color: red; */
}

.number {
    opacity: 50%;
    margin-right: 10px;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 90px;
}

.links {
    display: flex;
    gap: 2rem;
    list-style: none;
    /* margin-bottom: 2rem; */
}