.number {
    opacity: 50%;
    margin-right: 10px;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 90px;
}

.links {
    display: flex;
    justify-content: space-between;

}

.divider {
    display: flex;
    justify-content: space-around;
}

.content {
    width: 27rem;
}