.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    padding-top: 3rem;

}

.logo {
    margin-left: 3rem;

}

.links {
    margin-right: 13rem;
    /* border: 1px solid green; */
    text-transform: uppercase;
    padding: 20px;
    font-size: 12px;
    letter-spacing: 2px;

}

.nums {
    font-weight: bold;
    margin-right: 10px;
}

.navlink {
    text-decoration: none;
    color: inherit;
    padding: 30px;
    opacity: 50%;
}